.box-detail-order{
    margin-top: 10px;
    padding-top: 0px;
}
.row-body{
    margin-bottom: 8px;
}

.order-deteil-col{
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

.footer-detail-order{
    margin-bottom: 10px;
}